*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}
img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --black-clr: #000;
  --white-clr: #fff;
  --red-clr: #eb0028;
  --gray-clr: #929292;
}

.container {
  max-width: 1280px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}